.git
.gitignore
data/
tmp/
*.pdf
__pycache__/
*.py[cod]
*.dist-info
serverless_handler/config.toml
serverless_handler/fitz/
serverless_handler/pymupdf/
serverless_handler/pymupdf-*.dist-info/
serverless_handler/websockets/
serverless_handler/websockets-*.dist-info/
serverless_handler/bin/
README*.md
LICENSE
example.pdf
main.py
